asgiref
beautifulsoup4
boto3
botocore
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
hashids

django==5.1.3
dj-database-url
dj-static
django-cleanup
django-cors-headers
django-cloudinary-storage
django-environ
django-ninja
django-ninja-jwt
gunicorn
Pillow
PyJWT
python-decouple
psycopg2-binary
pydantic
pydantic-settings
s3transfer
sendgrid
whitenoise
uvicorn